body {
    margin: 0;
}

#header {
    width: 100%;
    height: 120px;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px 0px 25px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

#name {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: rgb(83, 83, 83);
}

#vr {
    height: 50px;
    border: 1px solid grey;
}

.nav-item {
    text-decoration: none;
    color: rgb(60, 60, 60);
    margin: 0px 40px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.section-header {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
}

.section-title {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.pics {
    width: 35%;
    margin: 30px 0px;
}

.logos {
    width: 20%;
    margin: 50px 0px;
}

@media screen and (max-width: 800px) {
    #navbar {
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: space-between;
    }

    .nav-item {
        text-decoration: none;
        color: rgb(60, 60, 60);
        margin: 0px 10px;
    }

    .pics {
        width: 100%;
        margin: 30px 0px;
    }

    .logos {
        width: 50%;
        margin: 50px 0px;
    }
}